body{
	background-image: url('super luxary.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-color: rgb(7 ,10 ,44, .9);
}

.button{
	position: absolute;
	top: 85%;
	left: 85%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}


